.footer {
    background-color: #232a34;
    padding: 90px;
    display: flex;
    min-height: 10px;
    justify-content: space-between;
    align-items: center;
}

.footer-contact {
    position: relative;
    top: 40%;
    left: 15%;
    transform: translateY(-50%);
    text-align: left;
}

.social-links {
    position: relative;
    top: 100%;
    right: 15%;
    transform: translateY(-160%);
}

.footer-contact h1,
.social-links h1 {
    font-size: 18px;
    margin-bottom: 10px;
    color: rgb(68, 68, 247);
    font-weight: bold;
    cursor: pointer;
}

.footer-contact p {
    font-size: 14px;
    color: white;
    margin-bottom: 5px;
}

.footer-contact p span {
    font-weight: bold;
}

.social-links a {
    margin-left: 10px;
    color: rgb(68, 68, 247);
    background-color: white;
    padding: 8px;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
    text-align: left;
}

.social-links a:hover {
    background-color: rgb(68, 68, 247);
    color: white;
    transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 1200px) {

    .footer {
        flex-direction: column;
        align-items: center;
        padding: 60px;
    }

    .footer-contact {
        position: relative;
        top: 0;
        left: 0;
        transform: translateY(0);
        text-align: center;
        margin-bottom: 30px;
    }

    .social-links {
        position: relative;
        top: 0;
        right: 0;
        transform: translateY(0);
        margin-bottom: 30px;
    }

}